<launch>
  <master auto="start"/>

  <node name="ros_serial"  pkg="rosserial_python"  type="serial_node.py" output="screen" args="/dev/ttyACM0"/>
     
<node name="teleop_twist_keyboard"  pkg="teleop_twist_keyboard"  type="teleop_twist_keyboard.py" output="screen"/>
 
  <node name="odom_bot"  pkg="robot_odom"  type="odom_bot" output="screen"/>

  <node name="ydlidar_node"  pkg="ydlidar"  type="ydlidar_node" output="screen">
    <param name="port"         type="string" value="/dev/ydlidar"/>  
    <param name="baudrate"     type="int"    value="128000"/>
    <param name="frame_id"     type="string" value="laser_frame"/>
    <param name="angle_fixed"  type="bool"   value="true"/>
    <param name="intensities"  type="bool"   value="false"/>
    <param name="angle_min"    type="double" value="-180" />
    <param name="angle_max"    type="double" value="180" />
    <param name="range_min"    type="double" value="0.08" />
    <param name="range_max"    type="double" value="10.0" />
    <param name="ignore_array" type="string" value="" />    
  </node>

   <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser"
    args="0.0 0.0 0.0 0.0 0.0  0.0 base_link laser_frame 40" /> 
  
  <node name="slam_mapping"  pkg="gmapping"  type="slam_gmapping" output="screen"/>
    
   <node name="rviz" pkg="rviz" type="rviz"/>  
  

  
</launch>
